{
    "env": {
        "browser": true,
        "commonjs": true,
        "node": true,
        "mocha": true,
        "jest": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "modules": true
        }
    },
    "extends": ["airbnb", "prettier"],
    "rules": {
        "react/jsx-filename-extension": [1, {
            "extensions": [".js", ".jsx"]
        }],
        "import/no-extraneous-dependencies": ["error", {
            "devDependencies": true
        }],
        "no-param-reassign": 0
    }
}